<!DOCTYPE html>
<html>
    <head>
        <title>Blog Post Website</title>
        <style></style>
    </head>
    <body>
        <div>
            <%= blog_post_website %>
        </div>
    </body>
</html>
