<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale-1.0">
        <style>
            body{
                background-color: #eeeeee;
            }
            .container{
                background-color: white;
                border-radius: 10px;
                box-shadow: 3px 3px 1px 1px black;
                width: 50%;
                margin-left: 25%;
            }
            .title{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
                padding: 10px;
            }
            .img{
                width: 300px;
                height: 150px;
                margin-left: 30px;
            }
            .body{
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            <%- locals.blog_post_website %>
        </div>
    </body>
</html>
